.main_slide{
    background-image: url("../../assets/images/front1.jpg");
    background-position: center 65%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 532px;

    .main_slide_desc{
        padding: 30px;
        background-color: #000000cc;
        font-size: 2.5em;
        color: #fff;
        font-weight: 100;
    }    
}

.main_list_group{
    .main_list_group_items{
        .main_list_group_items_item{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            a{
                flex-basis: 100%;
                min-height: 200px;
                color: #fff;
                text-decoration: none;
                font-size: 1.2em;
                transition: 0.2s;

                &:hover{
                    text-decoration: none;
                    font-size: 1.3em;
                }

                div{
                    flex-basis: 100%;
                    min-height: 200px;

                    h2{
                        color: #fff;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}