.main_optin {
  text-align: center;
}

.main_optin h1 {
  display: block;
  text-align: center;
  font-size: 1.6em;
  margin: 0 auto;
  margin-bottom: 20px;
}

.main_optin p {
  margin: 0 auto;
  margin-bottom: 20px;
}

.main_optin form {
  max-width: 600px;
  margin: 0 auto;
}

.main_optin form input {
  margin-bottom: 10px;
}

.main_optin form button {
  width: 100%;
}
